<div>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" inputmode="email" id="email" class="form-control" formControlName="email">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="password">Mot de passe</mat-label>
                <input matInput type="password" id="password" class="form-control" formControlName="password">
            </mat-form-field>
        </div>
        <button mat-button type="submit"
                [disabled]="signInForm.invalid">
                Connexion
        </button>
    </form>
</div>