<div id="body">
    <div id="table">
        <table *ngIf="dataLoaded && colors">
            <tr>
                <td class="axis"></td>
                <th class="axis tonalities" scope="col" *ngFor="let tonality of tonalities">{{ tonality }}</th>
            </tr>
            <tr class="row" *ngFor="let bpm of songs, let i = index">
                <th class="axis" scope="row">{{ controlsService.min_bpm + i }}</th>
                <td *ngFor="let tonality of bpm, let j = index">
                    <div 
                        *ngFor="let s of tonality, let k = index" 
                        [ngClass]="{'song': true,
                                    'selected': controlsService.idSelectedArtists.indexOf(s.artist) > -1,
                                    'not-selected': controlsService.idSelectedArtists.indexOf(s.artist) == -1,
                                    'prod': s.prod}"
                        [style.background-color]="colors.get(s.artist)"
                        (click)="openControlDialog(s, i, j, k)">
                        <div class="indicator" *ngIf="s.rapped == false">
                            <mat-icon>music_note</mat-icon>
                        </div>
                        <div class="indicator" *ngIf="s.rapped == true">
                            <mat-icon class="indicator">mic</mat-icon>
                        </div>
                        <div class="song-info">
                            <div>                         
                                {{ s.name }}
                            </div>
                            <div *ngIf="!isInt(s.bpm)">{{ s.bpm }} BPM</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="artists">
        <div id="sticky">
            <div id="controls">
                <button mat-icon-button color="primary" (click)="controlsService.selectArtists(artists)">
                    <mat-icon>select_all</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="controlsService.deselectAllArtists()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
            <ul *ngIf="artists && colors">
                <li *ngFor="let artist of artists">
                    <button
                    [style.background-color]="colors.get(artist.id)"
                    [className]="controlsService.idSelectedArtists.indexOf(artist.id) > -1 ? 'selector selected' : 'selector not-selected'" 
                    (click)="controlsService.changeArtist(artist.id)">
                        <span class="name">{{ artist.name }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

