<div id="body">
    <div id="table">
        <table *ngIf="dataLoaded && colors">
            <tr>
                <td class="axis"></td>
                <th class="axis tonalities" scope="col" *ngFor="let tonality of tonalities">{{ tonality }}</th>
            </tr>
            <tr *ngFor="let bpm of songs, let i = index">
                <th class="axis" scope="row">{{ min_bpm + i }}</th>
                <td *ngFor="let tonality of bpm, let j = index">
                    <div 
                        *ngFor="let s of tonality" 
                        [className]="filtersService.idSelectedArtists.indexOf(s.artist) > -1 ? 'song selected' : 'song not-selected'"
                        [style.background-color]="colors.get(s.artist)">
                        <div>{{ s.name }}</div>
                        <div *ngIf="!isInt(s.bpm)">{{ s.bpm }} BPM</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="artists">
        <div id="sticky">
            <div id="controls">
                <button mat-button color="primary" (click)="filtersService.selectArtists(artists)">
                    Select all
                </button>
                <button mat-button color="primary" (click)="filtersService.deselectAllArtists()">
                    Deselect all
                </button>
            </div>
            <ul *ngIf="artists && colors">
                <li *ngFor="let artist of artists">
                    <button
                    [style.background-color]="colors.get(artist.id)"
                    [className]="filtersService.idSelectedArtists.indexOf(artist.id) > -1 ? 'selector selected' : 'selector not-selected'" 
                    (click)="filtersService.changeArtist(artist.id)">
                        <span class="name">{{ artist.name }}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

