<form [formGroup]="artistForm" (ngSubmit)="onAddArtist()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name :</mat-label>
            <input matInput name="name" type="text" formControlName="name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Color :</mat-label>
            <input matInput name="color" type="color" formControlName="color">
        </mat-form-field>
    </div>

    <button mat-button type="submit"
    [disabled]="artistForm.invalid">
    Valider
    </button>
</form>